# Core functionality - changes here should be rare!
/src/app.py                   @50DayEmpire
/src/backend/database.py      @50DayEmpire
/src/backend/routers/auth.py  @50DayEmpire

# The frontend will need refactored soon to be more object oriented.
/src/static/   @50DayEmpire
